APP_ENV=local
APP_URL=phalcon.app
APP_TIMEZONE=Asia/Shanghai
APP_DEBUG=true

DB_ADAPTER=Mysql
DB_HOST=127.0.0.1
DB_USERNAME=root
DB_PASSWORD=null
DB_DBNAME=phalcon
DB_CHARSET=utf8

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=redis
MODELMETA_DRIVER=file

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_AUTH=null
REDIS_PERSISTENT=false
REDIS_INDEX=0

QUEUE_KEY=phalcon:queue:default
QUEUE_DELAY_KEY=phalcon:queue:delay
QUEUE_ERROR_KEY=phalcon:queue:error

MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_CONNECT=true
MONGODB_TIMEOUT=null
MONGODB_REPLICA_SET=null
MONGODB_USERNAME=null
MONGODB_PASSWORD=null
MONGODB_DB=null
MONGODB_COLLECTION=null
MONGODB_IS_UTILS=false
MONGODB_IS_COLLECTION=false

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211
MEMCACHED_WEIGHT=1

LOG_DB=false
LOG_ERROR=true

COOKIE_ISCRYPT=true

CRYPT_KEY=limingxinleo-phalcon-project

# 注册中心签名KEY
REGISTER_CENTER_KEY=helloworld
# 注册中心是否验证签名
REGISTER_CENTER_SIGN_VERIFY=true
# 是否注册到注册中心
REGISTER_CENTER_OPEN=false
# 注册中心的HOST
REGISTER_CENTER_HOST=127.0.0.1
# 注册中心的端口
REGISTER_CENTER_PORT=11521
# 注册中心是否服务持久化
REGISTER_CENTER_PERSISTENT=true
# 缓存的注册中心服务列表 KEY
REGISTER_CENTER_SERVICE_LIST_KEY=phalcon:register:service:list


